.notificationCard {
    width: 100%;
    height: 180px;
    background: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    gap: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    border: 1px solid rgb(0, 81, 255);
    margin-top: 20px;
  }
  
  
  
  
  .notificationHeading {
    color: black;
    font-weight: 600;
    font-size: 0.8em;
  }
  
  .notificationPara {
    color: rgb(90, 90, 90);
    font-size: 16px;
    text-align: start;

  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .AllowBtn {
    width: 120px;
    height: 35px;
    background-color: rgb(90, 19, 255);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
  }
  .AllowBtn>a {
    text-decoration: none;
    color: white;
  }
  
  
  
  
  
  .AllowBtn:hover {
    background-color: rgb(153, 110, 255);
  }
  .container-wallet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .coins-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
padding: 20px;
gap: 20px;
background: #e9e9e9;
border-radius: 16px;
  }
  .xee-coin{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fced6a;
    padding: 10px;
    border-radius: 12px;
  }
  .xee-coin>h3 , .extra-xee-coin>h3{
    color: #f66871;
  }
  .extra-xee-coin{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffb936;
padding: 10px;
border-radius: 12px;

  }
.xee-coin-btn {
    font-size: 14px;
    padding: 0.5em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(18, 128, 238);
    color: white;
    border-radius: 4px;
   }
   
.xee-coin-btn:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
.xee-coin-btn:active {
    transform: translate(0em, 0.2em);
   }
   .bank-balance{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .para {
    margin: 20px 10px 20px 10px;
  }
  .head{
    margin: 20px 10px 20px 10px;

  }
  .withdrawal-requests-h>h2{
    color: #f66871;
  }
  .withdrawal-requests-h{
    width: 100%;
  }
  .withdrwa-requests{
    display: flex;
    width: 100%;
    margin-top: 30px;
    display: flex;
  }
  .withdrwa-head{
    display: flex;
    margin: 20px 0px ;
    justify-content: space-around;
    color: blue;
    font-size: 21px;
font-family: poppins;  }
  .withdrwa-card{
    background: #e9e9e9;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    margin: 20px 0px 0px 0px ;
align-items: center;  }