
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-p {
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
}
/* Small */
@media (min-width: 768px) {
  .container-p {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 768px) {
  .container-p {
    width: 768px;
    flex-direction: column;
    justify-content: center;
  }
}
/* Large */
@media (min-width: 1267px) {
  .container-p {
    width: 1267px;
  
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container-p {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
  }
}
.landing-page header .links li:last-child {
  padding: 10px 20px;
  color: #f66871;
font-size: large;
font-size: 30px;
}
.landing-page header .links li:first-child {
  padding: 10px 20px;
  color: #0734ff;
font-size: large;
font-size: 30px;
}
.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}
.landing-page .content .container-p {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  min-height: calc(85vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container-p {
    gap: 0;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  width: 100%;
  background-color: #6c63ff;
}
.landing-page .content .image img {
  max-width: 100%;
}
.loaderx{
  color: rgb(89, 0, 255);
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  margin-top: -100px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #000000;
  animation: spin_4991 3s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* End Landing Page */
